	
.clearfix:after {
    content:"";
    display:block;
    clear: both;
}

.main-header-bg {
    opacity: 0.2;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
   	height: 100%;

   	background-image: url('https://bnbs-studio.s3.amazonaws.com/Marketing/GS%20Badges/Screen%20Shot%202016-09-11%20at%208.29.43%20AM.png?AWSAccessKeyId=AKIAILMM2GQBXWXB5OBA&Expires=1474201829&Signature=YTavMxv7CzQzuYjY5Y1ZMPjpc94%3D');
   	background-size: cover;
   	background-position: center center;

   	z-index: -1;
}

.nav {
	padding: 1% 2% 1% 2%; 
}

.theme-style {
	color: #4c4c2f !important;
}

.ui.segment {
	padding: 20px;
	margin: 0;
	color: #4c4c2f !important;
}

article {
	margin: 0;
}

h1 {
	line-height: 1;
	font-size: 40px;
}

h2 {
	text-align: center;
	padding: 5%;
}

#mytheme .main-header {
	border: 3px solid #4c4c2f;
	text-align: center;	
	line-height: 0.1;
	position: relative;
}

#mytheme .ui.button.theme-style a {
	color: #4c4c2f;
	font-weight: 900;
}

#mytheme .ui.button.theme-style {
	box-shadow:  0 0 0 1px #4c4c2f inset!important;

}

.main-title {
	color: #4c4c2f;
	text-align: center;
	padding: 1%;
	margin: 0;
}

#mytheme .ui.primary.basic.button a {
	color: #4c4c2f !important;
}

#mytheme .ui.primary.basic.button {
	box-shadow:  0 0 0 1px #4c4c2f inset!important;
}

.ui.button.toggle.active {
	background-color: #4CAF50;
}

#mytheme .nav button {
	box-shadow: #4c4c2f !important;
}

#mytheme .ui.celled.padded.table.theme-style {
	padding-top: 5px;
}

.itinerary {
	padding: 20px;
}

.sign-up-form {
	color: #4c4c2f !important;
	padding: 20px;
}

.ui.form {
	padding: 30px;
}

 #map {
	height: 50%;
	border: border: 1px solid #4c4c2f;;
}

.item.js-route-item {
	padding-bottom: 15px !important;
	font-size: 17px;
}

.item.js-route-item.indent {
	padding-left: 15px;
}

.item.active {
	background-color: white;
	-webkit-animation: flash 1.5s;
}	

@-webkit-keyframes flash {

	0% {
		background-color: transparent;
	}

	50% {
		background-color: green;
	}

	100% {
		background-color: transparent;
	}

}







